# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / IntelliJ
.idea/

# OS files
.DS_Store
Thumbs.db

mlruns/